body {
  background: #b1cac5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor {
  padding: 2% 3% 20px 3%;
  z-index: 99;
  background: white;
  height: 85vh;
  width: 500px;/*定宽*/
  margin: 35px auto;
  text-align: left;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}
